<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">
  
  <title>Frontend Mentor | Product list with cart solution</title>

</head>
<body>
  <main id="app" class="main-container" v-cloak>
    <div class="layout">
      <div class="layout-left">
        <h1 class="title text-preset-1 bold">Desserts</h1>
        <div class="product-list-container">
          <div class="product-item" v-for="(product, idx) in products">
            <div>
              <picture :class="{selected : product.selected}" @click="addProduct(idx)">
                <source media="(min-width: 575px)" :srcset="product.image.desktop">
                <img :srcset="product.image.mobile"  alt="">
              </picture>
              <button v-if="!product.selected" @click="addProduct(idx)">
                <img style="margin-right: 5px;" src="assets/images/icon-add-to-cart.svg" alt="">
                <p class="text-preset-4 bold rose-900">Add to Cart</p>
              </button>
              <button v-else class="btn-update-cart">
                <img src="assets/images/Add to Cart - Subtract Icon.svg" alt="" @click="decreaseQuantity(idx)">
                <p class="product-count">{{product.cart}}</p>
                <img src="assets/images/Add to Cart - Add Icon.svg" alt="" @click="increaseQuantity(idx)">
              </button>
            </div>
            <div class="product-info mt-1">
              <p class="text-preset-4 rose-500">{{product.category}}</p>
              <p class="text-preset3 rose-900 bold">{{product.name}}</p>
              <p class="text-preset3 red bold">${{product.price.toFixed(2)}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="cart">
        <h2 class="text-presset-2 bold">Your Cart ({{orderQuantity}})</h2>
        <div v-if="cart.length == 0" class="cart-empty-content">
          <img src="assets/images/illustration-empty-cart.svg" alt="">
          <p class="text-preset-4 bold">Your added items will appear here</p>
        </div>
        <div v-else>
          <div class="cart-list">
            <div class="cart-item" v-for="(p, idx) in cart">
              <p class="text-preset-4 bold">{{p.name}}</p>
              <div class="flex justify-between">
                <div class="cart-item-price">
                  <span class="text-preset-4 bold">{{p.quantity}}x</span>
                  <span class="text-preset-4">@ ${{p.price.toFixed(2)}}</span>
                  <span class="text-preset-4 bold rose-500">${{(p.price * p.quantity).toFixed(2)}}</span>
                </div>
                <button @click="removeProduct(p.id)"><img src="assets/images/icon-remove-item.svg" alt=""></button>
              </div>
            </div>
          </div>
          <div class="cart-total">
            <p class="text-preset-4">Order Total</p>
            <p class="text-preset-2 bold">${{orderTotal}}</p>
          </div>
          <div class="carbon-neutro-info">
            <img src="assets/images/icon-carbon-neutral.svg" alt="">
            <p class="text-preset-4">This is a <span class="text-preset-4 bold">carbon-neutral</span> delivery</p>
          </div>
          <button class="cart-order-button text-preset-3" @click="openModal()">Confirm Order</button>
        </div>
      </div>
    </div>
    <div class="modal" :class="{show: showModal}">
      <div>
        <img src="assets/images/icon-order-confirmed.svg" alt="">
        <h1 class="text-preset-1 bold rose-900">Order Confirmed</h1>
        <p class="rose-500">We hope you enjoy your food!</p>
      </div>
      <div class="modal-product-list">
        <div class="modal-product-item" v-for="(p, idx) in cart">
          <img :src="p.thumbnail" alt="">
          <div class="modal-product-info">
            <p class="text-preset-4 bold rose-900">{{p.name}}</p>
            <div class="flex">
              <p style="margin-right: 1rem;" class="text-preset-4 bold red">{{p.quantity}}x</p>
              <p class="text-preset-4 rose-500">@ ${{p.price.toFixed(2)}}</p>
            </div>
          </div>
          <p class="modal-product-item-sum text-preset-3 rose-900 bold">${{(p.price * p.quantity).toFixed(2)}}</p>
        </div>
        <div style="margin-top: 1.5rem" class="flex justify-between">
          <p class="text-preset-4 rose-900">Order Total</p>
          <p class="text-preset-2 rose-900 bold">${{orderTotal}}</p>
        </div>
      </div>
      <button class="text-preset-3 btn-start-new-order" @click="startNewOrder()">Start New Order</button>
    </div>
  </main>
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>
  <script src="js/products.js"></script>
  <script type="module">
    import { createApp, ref } from 'vue';

    const app = createApp({
      data() {
        return {
          products: allProducts,
          cart: [],
          showModal: false,
        }
      },
      computed: {
        orderTotal() {
          let total = 0;
          for (let i = 0; i < this.cart.length; i++) {
            total += this.cart[i].price * this.cart[i].quantity;
          }
          return total.toFixed(2);
        },
        orderQuantity() {
          let qtd = 0;
          for (let i = 0; i < this.cart.length; i++) {
            qtd += this.cart[i].quantity;
          }
          return qtd;
        }
      },
      methods: {
        addProduct(id) {
          const idx = this.cart.findIndex((p) => p.id == id);
          if (idx != -1) {
            return;
          }
          
          this.products[id].selected = !this.products[id].selected;
          this.products[id].cart = 1;

          this.cart.push({
            id: id,
            name: this.products[id].name,
            price: this.products[id].price,
            quantity: 1,
            thumbnail: this.products[id].image.thumbnail
          });
        },
        removeProduct(id) {
          this.products[id].selected = false;
          this.products[id].cart = 0;
          const idx = this.cart.findIndex((p) => p.id == id);
          this.cart.splice(idx, 1);
        },
        increaseQuantity(id) {
          this.products[id].cart++;
          
          const idx = this.cart.findIndex((p) => p.id == id);
          this.cart[idx].quantity++;
        },
        decreaseQuantity(id) {
          if (this.products[id].cart > 1) {
            this.products[id].cart--;
            
            const idx = this.cart.findIndex((p) => p.id == id);
            this.cart[idx].quantity--;
          }
        },
        openModal() {
          this.showModal = true;
        },
        startNewOrder() {
          this.showModal = false;
          this.cart = [];

          for (let i = 0; i < this.products.length; i++) {
            this.products[i].selected = false;
            this.products[i].cart = 0;
          }
        }
      }
    });

    app.mount('#app');
  </script>
</body>
</html>